#gameContainer {
  overflow: hidden;
  width: 178vh;
  height: 64vh;
}

#gameContainer {
  margin: auto;
}

.main-content-sec {
  .right-side-sec {
    .alerttitle {
      display: flex;
      justify-content: center;
    }

    .game-btn {
      margin: 30px 10px;
    }
  }

}

.alert-msg-btn {
  margin: 20px !important;
}