<div class="main-content-sec">
    <div class="left-side-sec">
        <ul>
            <li [routerLink]="['/games']">
                <div><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                <div class="icon-text">Back</div>
            </li>
        </ul>
    </div>
    <div class="right-side-sec">
        <div class="title">MadLibs</div>
        <div class="subtitle">Choose a Madlib.</div>
        <div class="card-sec">
            <div class="card-content" [routerLink]="['/madlibs/games']">A Garden for Room 8</div>

        </div>
    </div>
</div>