.right-side-sec {
    .storybox {
        border: solid;
        height: 250px;
        width: 90%;
        font-size: 25px;
        border-radius: 5px;
        padding: 12px;
        overflow: auto;
        margin-top: 5%;
    }
    
    b {
        background: #D0D0D0;
        border-radius: 14px;
        padding: 5px;
        font-size: 25px;
    }
}
#storyHight {
    font-size: 20px;
}