<div class="main-content-sec">
    <div class="left-side-sec">
        <ul>
            <li [routerLink]="['/games']">
                <div><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                <div class="icon-text">Back</div>
            </li>
            <li (click)="open(content)">
                <div><i class="fa fa-question" aria-hidden="true"></i></div>
                <div class="icon-text">Instructions</div>
            </li>
        </ul>
    </div>

    <div class="right-side-sec">

        <div id="gameContainer">
        </div>

    </div>
</div>

<!-- Popup Modal For Instruction -->

<ng-template #content let-modal>
    <div class="modal-body">
        <h1 class="madlib-heading">TRAIN GAME</h1>
        <br>
        <div class="madlib-content">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Vivamus hendrerit enim ut purus
            posuere, sit amet
            accumsan orci tristique. Duis ac egestas nunc. Aenean sollicitudin elementum consequat. Etiam vel nunc
            velit. Integer sit amet sapien sed est vehicula tincidunt vitae aliquet lectus.</div>
    </div>
    <div class="game-btn modal-popup-btn">
        <button id="doneButton" (click)="modal.dismiss('Cross click');$event.preventDefault()">Next</button>
    </div>
</ng-template>

<!-- Notification Alert Message -->

<!-- Popup Modal For Instruction -->

<ng-template #content let-modal>
    <div class="modal-body">
        <h1 class="madlib-heading">TRAIN GAME</h1>
        <br>
        <div class="madlib-content">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Vivamus hendrerit enim ut purus
            posuere, sit amet
            accumsan orci tristique. Duis ac egestas nunc. Aenean sollicitudin elementum consequat. Etiam vel nunc
            velit. Integer sit amet sapien sed est vehicula tincidunt vitae aliquet lectus.</div>
    </div>
    <div class="game-btn modal-popup-btn">
        <button id="doneButton" (click)="modal.dismiss('Cross click');$event.preventDefault()">Next</button>
    </div>
</ng-template>

<!-- Notification Alert Message -->


<!-- Popup Modal For Finish -->

<ng-template #finishContent let-modal>
    <div class="modal-body">
        <h1 class="madlib-heading" *ngIf="trainCount =='0'">You Have Failed To Delivered Cars. Try Again</h1>
        <h1 class="madlib-heading" *ngIf="trainCount !='0'">Congratulations You Delivered {{this.trainCount}} Cars</h1>
        <br>
        <div class="madlib-content">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Vivamus hendrerit enim ut purus
            posuere, sit amet
            accumsan orci tristique. Duis ac egestas nunc. Aenean sollicitudin elementum consequat. Etiam vel nunc
            velit. Integer sit amet sapien sed est vehicula tincidunt vitae aliquet lectus.</div>
    </div>
    <div class="game-btn modal-popup-btn" style="display:flex;justify-content: space-around;">
        <button id="doneButton" (click)="ReplayFunction()">Replay</button>
        <button id="doneButton" [routerLink]="['/games']"
            (click)="modal.dismiss('Cross click');$event.preventDefault()">Finished</button>
    </div>
</ng-template>

<!-- Notification Alert Message -->