<div class="main-content-sec">
    <div class="left-side-sec">
        <ul>
            <li>
                <div><i class="fa fa-home" aria-hidden="true"></i></div>
                <div class="icon-text">Home</div>
            </li>
            <li>
                <div><i class="fa fa-gamepad" aria-hidden="true"></i></div>
                <div class="icon-text">Games</div>
            </li>
            <li>
                <div><i class="	fa fa-file-text" aria-hidden="true"></i></div>
                <div class="icon-text">Library</div>
            </li>

        </ul>
    </div>
    <div class="right-side-sec">
        <div class="title">Games</div>
        <div class="subtitle">Choose a game to play.</div>
        <div class="card-sec">
            <div class="card-content" [routerLink]="['/madlibs']">Madlibs</div>
            <div class="card-content" [routerLink]="['/stickers']">Stickers</div>
            <div class="card-content" [routerLink]="['/train-scroller']">Train Game</div>

        </div>
    </div>
</div>