
<div class="right-side-sec">
    <div class="d-flex sticker-btn-sec">
        <button (click)="changeBg()">BACKGROUND 1</button>
        <button>BG 2</button>
        <button>BACKG 3</button>
        <button>BACKGROUND 4</button>
        <button>BACKGRO 5</button>
        <button>BACK 6</button>
        <button>BACKGROUND 7</button>
        <button>BACKGR 8</button>
        <button>BLANK</button>
    </div>
   
  
    <div class="down-btn" *ngIf="showPanal">
        <button class="btn"  (click)="showPanal=!showPanal"><i class="fa fa-caret-down"></i></button>
    </div>
    <div class="card sticker-custm-card" *ngIf="showPanal">
        <div class="sticker-book">
            <div class="sticker-header">
                <h5>Sticker Book</h5>
                <div class="sticker-animal">
                    <div><i class="fa fa-wechat"></i></div>
                    <div>Animals</div>
                </div>
                <div class="sticker-animal">
                    <div><i class="fa fa-wechat"></i></div>
                    <div>Speech bubbles</div>
                </div>
                <div class="sticker-animal">
                    <div><i class="fa fa-wechat"></i></div>
                    <div>Catergory</div>
                </div>
                <div class="sticker-animal">
                    <div><i class="fa fa-wechat"></i></div>
                    <div>Catergory</div>
                </div>
                <div class="sticker-animal">
                    <div><i class="fa fa-wechat"></i></div>
                    <div>Catergory</div>
                </div>
            </div>
            <div class="label-card-section">
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
            </div>
            <div class="label-card-section">
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
            </div>
            <div class="label-card-section">
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
                <div>
                    <div class="label-card"></div>
                    <p>Label</p>
                </div>
            </div>
        </div>
    </div>
    <div class="down-btn-up" *ngIf="!showPanal">
        <button class="btn" (click)="showPanal=!showPanal"><i class="fa fa-caret-up"></i></button>
    </div>
</div>

<!-- <h1>didndi</h1> -->