<div class="main-content-sec">

    <div class="left-side-sec">
        <ul>
            <li [routerLink]="['/games']">
                <div><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                <div class="icon-text">Back</div>
            </li>
            <li>
                <div><i class="fa fa-question" aria-hidden="true"></i></div>
                <div class="icon-text">Instructions</div>
            </li>
        </ul>
    </div>
    <div class="right-side-sec">
        <div class="d-flex sticker-btn-sec">
            <button (click)="changeBg('bg')" [ngStyle]="{'background-color':backgroundName=='bg'?'blue':'','color':backgroundName=='bg'?'white':''}">BACKGROUND 1</button>
            <button (click)="changeBg('bg1')" [ngStyle]="{'background-color':backgroundName=='bg1'?'blue':'','color':backgroundName=='bg1'?'white':''}">BACKGROUND 2</button>
            <button (click)="changeBg('bg2')" [ngStyle]="{'background-color':backgroundName=='bg2'?'blue':'','color':backgroundName=='bg2'?'white':''}">BACKGROUND 3</button>
            <button (click)="changeBg('bg3')" [ngStyle]="{'background-color':backgroundName=='bg3'?'blue':'','color':backgroundName=='bg3'?'white':''}">BACKGROUND 4</button>
            <button (click)="changeBg('bg4')" [ngStyle]="{'background-color':backgroundName=='bg4'?'blue':'','color':backgroundName=='bg4'?'white':''}">BACKGROUND 5</button>
            <button (click)="changeBg('bg5')" [ngStyle]="{'background-color':backgroundName=='bg5'?'blue':'','color':backgroundName=='bg5'?'white':''}">BACKGROUND 6</button>
            <button (click)="changeBg('blank')" [ngStyle]="{'background-color':backgroundName=='blank'?'blue':'','color':backgroundName=='blank'?'white':''}">BLANK</button>
        </div>
        <div id="gameContainer">
        </div>
       
        <div class="down-btn" *ngIf="showPanal">
            <button class="btn" (click)="showPanal=!showPanal"><i class="fa fa-caret-down"></i></button>
        </div>
        <div class="card sticker-custm-card" *ngIf="showPanal">
            <div class="sticker-book">
                <div class="sticker-header">
                    <h5>Sticker Book</h5>
                    <div class="sticker-animal">
                        <div><i class="fa fa-wechat"></i></div>
                        <div><a href="javascript:void(0)" (click)="panalScene=true" >Animals</a></div>
                    </div>
                    <div class="sticker-animal">
                        <div><i class="fa fa-wechat"></i></div>
                        <div><a href="javascript:void(0)" (click)="panalScene=false">Speech bubbles</a></div>
                    </div>
                
                </div>
                <div *ngIf="panalScene" class="label-card-section">
                    <div>
                        <div class="label-card" (click)="dragObj('cat')"><img class="label-card" src="assets/images/cat.png"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card" (click)="dragObj('dog')"><img class="label-card" src="assets/images/dog.png"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card" (click)="dragObj('ele')"><img class="label-card" src="assets/images/ele.png"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card" (click)="dragObj('horse')"><img class="label-card" src="assets/images/horse.png"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                </div>

                <div *ngIf="!panalScene" class="label-card-section">
                    <div>
                        <div class="label-card" (click)="dragObj('mountain')"><img class="label-card" src="assets/images/mountain.jpg"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card" (click)="dragObj('river')"><img class="label-card" src="assets/images/river.jpg"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card" (click)="dragObj('sunset')"><img class="label-card" src="assets/images/sunset.jpg"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card" (click)="dragObj('tree')"><img class="label-card" src="assets/images/tree.jpg"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                </div>
                <div class="label-card-section">
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                </div>
                <div class="label-card-section">
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                    <div>
                        <div class="label-card"></div>
                        <p>Label</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="down-btn-up" *ngIf="!showPanal">
            <button class="btn" (click)="showPanal=!showPanal"><i class="fa fa-caret-up"></i></button>
        </div>
    </div>
</div>

<!-- Popup Modal For Instruction -->

<ng-template #content let-modal>
    <div class="modal-body">
        <h1 style="display: flex;justify-content: center;padding-top: 70px;">Stickers Tutorial</h1>
        <br>
        <div style="text-align: center;width: 65%;margin: auto;font-size:20px">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Vivamus hendrerit enim ut purus
            posuere, sit amet
            accumsan orci tristique. Duis ac egestas nunc. Aenean sollicitudin elementum consequat. Etiam vel nunc
            velit. Integer sit amet sapien sed est vehicula tincidunt vitae aliquet lectus.</div>
    </div>
    <div class="game-btn modal-popup-btn">
        <button id="doneButton" (click)="modal.dismiss('Cross click');$event.preventDefault()">Next</button>
    </div>
</ng-template>