
.right-side-sec {
    flex: 1 0 0%;
    padding: 10px 25px;
    position: relative;
    .sticker-book {
        display: flex;
        flex-direction: column;
        padding: 20px;
}
.sticker-header {
    display: flex;
    column-gap: 10px;  
    
    .sticker-animal {
        display: flex;
        font-size: 14px;
        column-gap: 4px;
        align-items: center;
        margin: 0px 25px;
        a {
            text-decoration: none;
            color:#000;
        }
    }

}
.label-card-section {
    display: flex;
    justify-content: space-between;
    .label-card {
    background: #ebe7e7;
    border-radius: 2px;
    height: 66px;
    width: 100px;
    }
    p {
        text-align: center;
        font-size: 14px;
    }
}
.down-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -12px;
    position: absolute;
    bottom: 385px;
    left: 43%;
    button {
    height: 47px;
    width: 110px;
    border-radius: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px -5px 7px -2px;
    z-index: 2;
    background: #fff;
    border: none;
        i { 
            font-size: 20px;
        }
    }
}

.down-btn-up {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 43%;
    button {
    height: 47px;
    width: 110px;
    border-radius: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px -5px 7px -2px;
    z-index: 2;
    background: #fff;
        i { 
            font-size: 20px;
        }
    }
}
.sticker-btn-sec {
    margin-bottom: 26px;
    button {
        padding: 6px 16px;
        border: none;
        border-radius: 15px;
        font-size: 12px;
    }
    
}
    }

.sticker-custm-card {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border: none;
    bottom: 0;
    position: absolute;
    width: 83%;
    transform: translate(48px, 0);
}

.game-btn {
    display: flex;
    justify-content: center;
    margin: 12px;
  
    button {
      border: 1px solid #737373;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: #737373;
      color: #ffffff;
      // font-size: 15px;
      font-weight: 600;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #737373;
      }
    }
  }
  .background-card-sec {
    display: flex;
    height: 130px;
    position: relative;
    .label-card {
        background: #ebe7e7;
        border-radius: 2px;
        height: 66px;
        width: 100px;
        margin-right: 5px;
        }
        .sticker1 {
            position: absolute;
            top: 40px;
            left: 10%;
        }
        .sticker2 {
            position: absolute;
            top: 52px;
            left: 30%;
        }
        .sticker3 {
            position: absolute;
            top: 25px;
            left: 55%;
        }
        .sticker4 {
            position: absolute;
            top: 55px;
            left: 75%;
        }

  }
  .p-relative {
      position: relative;
  }
  
  .sticker-tutorial {
    text-align: center;
    width: 78%;
    margin: auto;
    line-height: 2;
    font-size: 20px;  
  }