/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.title {
  font-size: 40px;
  font-weight: 600;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.modal-body {
  .madlib-heading {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    line-height: 1.8;
  }
  .madlib-content {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size:18px;
    line-height: 2;
  }
}
